
.auction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 70vw;
  padding: 10px;
  margin: auto;

}

.auction-form {
  background-color: rgb(37, 41, 54);
  border: 2px solid rgb(80, 80, 80);
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 10px;
  gap: 4px;
  width: 100%;
}
.auction-title{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-group label{
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
}


input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.291);
  border-radius: 3px;
}
.auction-btn{
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  margin: 10px;
  border-radius: 5px;
  border: none;
}
.auction-btn:hover{
  background-color: #006aff;;
}