/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 70vw;
    padding: 10px;
    margin: auto;

    /* background-color: #f4f7fa; */
  }
  
  .dashboard-title {
    margin-top: 20px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
  }
  
  .auction-list {
    width: 80%;
    color: white;
    max-width: 800px;
     background-color: rgb(37, 41, 54);
    border: 2px solid rgb(80, 80, 80);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .auction-list p ,span{
    cursor: pointer;
  }
  .auction-items {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(37, 41, 54);
    border: 2px solid rgb(117, 117, 117);
    margin: 10px 0px;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    /* border-bottom: 1px solid #ddd; */
  }
  .auction-items span{
    color: white;
  }
  .auction-item:last-child {
    border-bottom: none;
  }
  
  .item-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-bid {
    font-size: 16px;
    color: #55fbac;
  }
  

  .btn {
    margin: 20px 0px;
   
  }
  
  .create-bid-btn:hover {
    background-color: #218838;
  }
  