* {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin-top: 40px;
}

.nav-items {
    width: 70vw;
    margin: auto;
    display: flex;
    background: rgba(0, 98, 255, 0.863);
    padding: 10px;
    cursor: pointer;
}

.centerTitle {
    display: flex;
color: white;
    margin: auto;

    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.left-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    color: white;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    color: white;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.appTitle {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    flex-grow: 2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
span{
    color: white;
}

.link {
    list-style: none;
    color: black;
    text-decoration: none;
}