
.auction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70vw;
  padding: 10px;
  margin: auto;
  background-color: #f4f7fa;
}

.auction-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 10px;
  gap: 4px;
  width: 100%;
}

.form-group label{
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.291);
  border-radius: 3px;
}
.auction-btn{
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  margin: 10px;
  border-radius: 5px;
  border: none;
}
.auction-btn:hover{
  background-color: #006aff;;
}